{% include 'accounts/header.html' %}
{% block content %}
{% load static %}


<style>
  .info {
    color: green;
    margin-left: 22px;
  }

  .error {
    color: red;
    margin-left: 22px;
  }

  @media (max-width: 500px) {}
</style>
<div>
  {% if messages %}
  {% for message in messages %}
  <span class="{{message.tags}}">{{message}}</span>
  {% endfor %}
  {% endif %}
</div>
<div class="page-wrapper wrapper_page" style="min-height: 250px;">
  <div class="container-fluid fluid_container responsive_container pt-3 white_bg">
    <div class="row">
      <div>
      </div>
      <div class="col-lg-7">
        <div class="contact-detail-main-area main_area_contact_detail">
          <div class="row">
            <div class="col-lg-12">
              <br>
              <center>
                <form action="" method="post" class="right_area">
                  {% csrf_token %}
                  <div class="col-lg-9">
                    <div class="change-password-input-box">
                      <input type="text" id="fname" name="username" class="form-control input_area"
                        placeholder="Enter username">
                    </div>
                  </div>
                  <br>
                  <div class="col-lg-9">
                    <div class="change-password-input-box">
                      <input type="password" id="fname" name="new_password" class="form-control change_border"
                        placeholder="Enter New Password">
                    </div>
                  </div>
                  <br>
                  <div class="col-lg-9">
                    <div class="change-password-input-box">
                      <input type="password" id="fname" name="confirm_password" class="form-control change_border"
                        placeholder="confirm password">
                    </div>
                  </div>
                  <div>
                    <br>
                    <button class="btn-primary btn-lg">Submit</button>
                  </div>
                </form>
              </center>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% include 'accounts/footer.html' %}