<aside class="left-sidebar left_aside" data-sidebarbg="skin6" id="addWidth">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="nav_bar_side">
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'started-service-list' %}"
                        aria-expanded="false">
                        <i class="fab fa-servicestack leftside_icon"></i>
                        <span class="ser hide-menu ">Services</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'service' %}"
                        aria-expanded="false">
                        <i class="fas fa-motorcycle leftside_icon"></i>
                        <span class="ser hide-menu ">New Service</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'setting' %}"
                        aria-expanded="false">
                        <i class="fas fa-cog leftside_icon" aria-hidden="true"></i>
                        <span class="ser hide-menu">Settings</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'change-password' %}"
                        aria-expanded="false">
                        <i class="fas fa-lock leftside_icon" aria-hidden="true"></i>
                        <span class="ser hide-menu">Change Password</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'user-responsive-letter-list' %}"
                        aria-expanded="false">
                        <i class="fas fa-certificate leftside_icon" aria-hidden="true"></i>
                        <span class="ser hide-menu ">Responsive Letter</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'user-policy-policy' %}"
                        aria-expanded="false">
                        <i class="fas fa-file-alt leftside_icon"></i>
                        <span class="ser hide-menu ">Privacy & Policy</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'remarks-list' %}"
                        aria-expanded="false">
                        <i class="fas fa-solid fa-calendar leftside_icon"></i>
                        <span class="ser hide-menu ">Remarks</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'pre-logout' %}"
                        aria-expanded="false">
                        <i class="fas fa-power-off leftside_icon"></i>
                        <span class="ser hide-menu ">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>